################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GTFS_Correction/bin/Debug/net481/GTFS_Correction.exe
/GTFS_Correction/bin/Debug/net481/GTFS_Correction.pdb
/GTFS_Correction/obj/Debug/net481/GTFS_Correction.AssemblyInfo.cs
/GTFS_Correction/obj/Debug/net481/GTFS_Correction.AssemblyInfoInputs.cache
/GTFS_Correction/obj/Debug/net481/GTFS_Correction.csproj.AssemblyReference.cache
/GTFS_Correction/obj/Debug/net481/GTFS_Correction.exe
/GTFS_Correction/obj/Debug/net481/GTFS_Correction.pdb
/GTFS_Correction/obj/Debug/net481/GTFS_Correction.sourcelink.json
/GTFS_Correction/obj/GTFS_Correction.csproj.nuget.dgspec.json
/GTFS_Correction/obj/project.nuget.cache
/GTFS_Import/bin/Debug/net8.0/GTFS_Correction.exe
/GTFS_Import/bin/Debug/net8.0/GTFS_Correction.pdb
/GTFS_Import/bin/Debug/net8.0/GTFS_Import.dll
/GTFS_Import/bin/Debug/net8.0/GTFS_Import.exe
/GTFS_Import/bin/Debug/net8.0/GTFS_Import.pdb
/GTFS_Import/obj/Debug/net8.0/ref/GTFS_Import.dll
/GTFS_Import/obj/Debug/net8.0/refint/GTFS_Import.dll
/GTFS_Import/obj/Debug/net8.0/apphost.exe
/GTFS_Import/obj/Debug/net8.0/GTFS_Import.AssemblyInfo.cs
/GTFS_Import/obj/Debug/net8.0/GTFS_Import.AssemblyInfoInputs.cache
/GTFS_Import/obj/Debug/net8.0/GTFS_Import.csproj.AssemblyReference.cache
/GTFS_Import/obj/Debug/net8.0/GTFS_Import.dll
/GTFS_Import/obj/Debug/net8.0/GTFS_Import.genruntimeconfig.cache
/GTFS_Import/obj/Debug/net8.0/GTFS_Import.pdb
/GTFS_Import/obj/Debug/net8.0/GTFS_Import.sourcelink.json
/GTFS_Import/obj/GTFS_Import.csproj.nuget.dgspec.json
/GTFS_Import/obj/project.nuget.cache
